h1 {
  font-size: 8vh;
}

h2 {
  font-size: 7vh;
}

h3 {
  font-size: 6vh;
}

h4 {
  font-size: 5vh;
}

h5 {
  font-size: 4vh;
}

h6 {
  font-size: 3vh;
}

p {
  font-size: 2.5vh;
}

table {
  border: 0.5vh solid black;
  border-radius: 2vh;
  min-width: 50vw;
  max-width: 52vw;
  padding: 0.5vh;
}

.sticky {
  position: fixed;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
}

td {
  border: 0.5vh solid black;
  border-radius: 2vh;
}

th {
  border: none;
  background: rgb(256, 256, 256);
  text-align: center;
}

body {
  background: rgb(255, 255, 255);
}

.logo {
  width: 10vh;
  height: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0.5vh solid #000000;
  background-color: rgb(153, 153, 151);
  border-radius: 1vh;
  width: 50vw;
  box-align: center;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(153, 153, 151);
  border: none;
  float: left;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2.5vh;
  transition: 0.3s;
  width: 33.3%
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
  width: 100%;
  animation: fadeEffect 0.5s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
