h1 {
  font-size: 8vw;
  font-family:'sans-serif'
}

h2 {
  font-size: 7vw;
  font-family:'sans-serif'
}

h3 {
  font-size: 6vw;
  font-family:'sans-serif'
}

h4 {
  font-size: 5vw;
  font-family:'sans-serif'
}

h5 {
  font-size: 4vw;
  font-family:'sans-serif'
}

h6 {
  font-size: 3vw;
  font-family:'sans-serif'
}

p {
  font-size: 2.5vw;
  font-family:'sans-serif'
}

table {
  border: 0.5vw solid black;
  border-radius: 2vw;
  width: 90vw;
  padding: 0.5vw;
}

.sticky {
  position: fixed;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
}

td {
  border: 0.5vw solid black;
  border-radius: 2vw;
}

th {
  border: none;
  background: rgb(256, 256, 256);
  text-align: center;
}

body {
  background: rgb(255, 255, 255);
  width: 90vw;
  margin: 0 auto;
  padding: 0;

}

.logo {
  width: 10vw;
  height: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0.5vw solid #000000;
  background-color: rgb(153, 153, 151);
  border-radius: 1vw;
  box-align: center;

}



/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(153, 153, 151);
  border: none;
  float: left;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2.5vw;
  transition: 0.3s;
  width: 25%
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: none;
  width: 100%;
  animation: fadeEffect 0.5s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav{
  position: fixed; 
  bottom: 2%;

}

